[MAIN]

# Add files or directories matching the regex patterns to the ignore-list.
ignore-paths = .git,__pycache__,mypy_cache,.pytest_cache,.vscode,.ruff_cache,.idea,.venv

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the number of processors available to use.
jobs = 0

load-plugins = pylint.extensions.bad_builtin,pylint.extensions.check_elif,
               pylint.extensions.redefined_variable_type,pylint.extensions.docparams,pylint.extensions.docstyle,
               pylint.extensions.overlapping_exceptions,pylint.extensions.no_self_use

extension-pkg-whitelist = pydantic

[MESSAGES CONTROL]
enable = all
disable =
          suppressed-message,
          locally-disabled,
          duplicate-code,
          line-too-long,
          missing-module-docstring,
          missing-function-docstring,
          missing-class-docstring,
          import-outside-toplevel,
          redefined-builtin,
          no-else-return,
          broad-except,
          docstring-first-line-empty,
          redefined-outer-name,
          too-many-arguments,
          too-few-public-methods,
          too-many-instance-attributes,
          too-many-lines,
          too-many-boolean-expressions

[FORMAT]
max-line-length = 120

[REPORTS]
output-format = colorized
score = no

